{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор и меня зовут Лёша.</h1>
<p>
  Свой путь в программировании я начал ещё в 8 классе. До этого я просто хорошо знал устройство компьютера,<br>
  потому что у родителей был компьютерный клуб и я часаааами там заседал и нередко чинил эти машины.<br>
  И начал я его с известного языка Pascal. Когда я впервые почувствовал наслаждение<br>
  от того, что у меня получилось решить задачу над которой я сидел неделю, я понял,<br>
  что это моё. И вот я оказался в университете на ИТ факультете.<br>
  Это как доминошка, сначала ты ищешь папку %appdata% чтобы установить моды на minecraft и вот ты уже на первом курсе Прикладной информатики<br>
  Благодаря одногруппнику, я узнал про ЯндексПрактикум и спустя несколько месяцев обучения, я пишу эти строки.<br>
  И это только начало, мне предстоит ещё очень долгий и тернистый путь, к своей цели-зашибать большие бабки, делая любимое дело.
</p>
{% endblock %} 